asgiref==3.7.2
boto3==1.28.36
botocore==1.31.36
certifi==2024.2.2
charset-normalizer==3.3.2
cryptography @ file:///private/tmp/python-cryptography-20230919-6530-1nu01ji/cryptography-41.0.4
Django==5.0.1
idna==3.6
jmespath==1.0.1
lxml @ file:///private/tmp/python-lxml-20230830-6138-1l0cdh0/lxml-4.9.3
numpy==1.26.3
opencv-python==4.9.0.80
PyYAML @ file:///private/tmp/pyyaml-20230717-6270-1iiwi1j/PyYAML-6.0.1
requests==2.31.0
s3transfer==0.6.2
sqlparse==0.4.4
urllib3==2.2.1
